<div class="mother-feature">

  <div class="featured" style="background-image: url(<%= featured_image(@featured) %>);">
    <p class="theme-color feature-title"> <%= link_to featured_title(@featured), article_path(@featured), class: 'link-title underline' %></p>
    <p class="feature-text"> <%= featured_content(@featured) %></p>
  </div>

    <div class="grid-h">
      <% @categories.each do |category| %>
        <% if category.articles.last %>
        <div class='category' style="background-image: url(<%= category.articles.last.image.category_show.url %>);">
          <p> <%= link_to category.name, category_path(category) %></p>
          <span> <%= category_article_link(category) %></span>
        </div>
        <% end %>
      <% end %>
    </div>

</div>


