<h1>Articles</h1>

<div class="container">

  <div class="row">
    <div class="featured">
      <p>Author: <%= featured_owner(@featured) %></p>
      <p>Title: <%= featured_title(@featured) %></p>
      <p>Content: <%= featured_content(@featured) %></p>
    </div>
  </div>

  <div class="row">
    <% @categories.each do |category| %>
      <div class="mb-5 mt-5">
        <p>Category Name: <%= link_to category.Name, category_path(category) %></p>
        <p>Article Title: <%= category.articles.pluck(:Title).last %></p>
        <p>Article Image: <%= category.articles.pluck(:Image).last %></p>
      </div>
    <% end %>
  </div>

  <div class="row">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Text</th>
          <th>Image</th>
          <th>Authorid</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @articles.each do |article| %>
        <tr>
          <td><%= article.Title %></td>
          <td><%= article.Text %></td>
          <td><%= article.Image %></td>
          <td><%= article.AuthorId %></td>
          <td><%= link_to 'Show', article %></td>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

<br>

<%= link_to 'New Article', new_article_path %>
