<div class="container">
  <h1 class="theme-color text-center"><%= @article.Title %></h1>
  <div class="col-md-12">
    <div class="col-md-6" style="margin-bottom: 100px;">
      <p>
        Tags:
        <% @article.tags.each do |tag| %>
        <%#= link_to tag.name, tag_path(tag) %>
          <span class="tag">
            <%= tag.name %>
          </span>
        <% end %>
      </p>

      <p class="text-center">
        <%= image_tag(@article.Image.thumbnail.url, :width => 425, :height => 300)%>

      </p>

      <p class="">
        <%= @article.Text %>
      </p>

      <div>

        <%= render partial: 'articles/comment', collection: @article.comments %>


        <%= link_to 'Edit', edit_article_path(@article) %> |
        <%= link_to 'Back', articles_path %>
      </div>
    </div>


    <div class="col-md-6">
      <div class="text-center commentbox">
        <h3 class="theme-color"> <%= @article.comments.size %></h3> <span>comments posted for this article</span>
        <p><%= render partial: 'comments/form' %></p>

      </div>
    </div>
  </div>




</div>
