  <div class="grid-c">
    <% @category.articles.order('id ASC').limit(4).reverse.each do |article| %>
    <div>
      <% if article.id.odd?  %>
        <div class="article-img"
          style="background-image: url(<%= article.Image.category_show.url %>);"></div>
      <% end %>
      <div class="content">
        <p class="theme-color">
          <%= @category.Name %>
        </p>
        <p><%= link_to article.Title.truncate(30), article_path(article), class: 'nav-theme underline' %></p>
        <p><%= article.Text.truncate(100, separator: ' ', omission: '.... (continued)') %></p>

        <p>Author: <%= article.user.Name %></p>
        <span class="theme-color"><%= article.votes.size %> </span>vote(s)
        &nbsp; <%= vote_button(article) if @current_user %><br />
        <span class="theme-color"><%= article.comments.size %></span> comment(s)

      </div>

      <% if article.id.even?  %>
        <div class="article-img" style="background-image: url(<%= article.Image.category_show.url %>);"></div>
      <% end %>
    </div>
    <% end %>
  </div>


