<p>
  <strong>Name:</strong>
  <%= @category.Name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @category.Priority %>
</p>

<div class="container">
  <div class="row">
    <% @category.articles.reverse.each do |article| %>
      <div>
        <p>Title: <%= link_to article.Title, article_comments_path(article) %></p>
        <p>Text: <%= article.Text %></p>
        <p>Image: <%= article.Image %></p>
        <p>Author: <%= article.user.Name %></p>
        <%= vote_button(article) if @current_user %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
