<p>
  <strong>Name:</strong>
  <%= @category.Name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @category.Priority %>
</p>

<div class="container">
  <div class="row">
    <% @category.articles.each do |article| %>
      <div>
        <p>Title: <%= article.Title %></p>
        <p><%= article.Text %></p>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
