

<!-- <p>
  <strong>Priority:</strong>
  <%#= @category.Priority %>
</p> -->

<!-- <div class="">
  <div class=""> -->
    <div class="grid">
      <% @category.articles.reverse.each do |article| %>

      <div>
        <p><%= image_tag(article.Image.thumbnail.url, :width => 257, :height => 300) %></p>
        <div class="content">
          <p class="theme-color">
            <%= @category.Name %>
          </p>
          <p><%= link_to article.Title, article_path(article), class: 'nav-theme' %></p>
          <p><%= article.Text.truncate(270, separator: ' ', omission: '.... (continued)') %></p>

          <p>Author: <%= article.user.Name %></p>
          <p><span class="theme-color"><%= article.votes.size %> </span>vote(s)</p>
          <p><span class="theme-color"><%= article.comments.size %></span> comment(s)</p>
          <%= vote_button(article) if @current_user %>
        </div>
      </div>
      <% end %>
    </div>
  <!-- </div>
</div> -->

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
