  <div class="grid-c">
    <% @category_articles.each_with_index do |article, index| %>
    <div>
      <% if index.odd?  %>
        <div class="article-img"
          style="background-image: url(<%= article.image.category_show.url %>);"></div>
      <% end %>

      <div class="content">
        <p class="theme-color"><%= @category.name %></p>
        <p><%= link_to category_article_title(article), article_path(article), class: 'nav-theme underline' %></p>
        <p><%= category_article_text(article) %></p>

        <p>Author: <%= author_name(article) %></p>
        <span class="theme-color"><%= number_of_votes(article) %> </span>vote(s)
        &nbsp; <%= vote_button(article) if @current_user %><br />
        <span class="theme-color"><%= number_of_comments(article) %></span> comment(s)

      </div>

      <% if index.even?  %>
        <div class="article-img" style="background-image: url(<%= article.image.category_show.url %>);"></div>
      <% end %>
    </div>

    <% end %>
  </div>


