<%= form_with(model: vote, local: true) do |form| %>
  <% if vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :UserId %>
    <%= form.number_field :UserId %>
  </div>

  <div class="field">
    <%= form.label :ArticleId %>
    <%= form.number_field :ArticleId %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
